body{
    background-color: black;
}

#button1{
    font-size: 18px;
    display: flex;
    align-items: center;
    color: white;
    background: none;
    border: none;
    padding: 14px 22px;
    position: relative;
}

#button1::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 40px));
    width: 42px;
    height: 42px;
    background: blue;
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
}

#button1:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
}

#button1 i {
    margin-left: 14px;
    transition: transform .25s .4s cubic-bezier(0, 0, .5, 2);
}

 




